################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Clicker.slnx/FileContentIndex/763e2235-f9ed-4060-835f-ce6fd2740c2c.vsidx
/.vs/Clicker.slnx/v17/.futdcache.v2
/.vs/Clicker.slnx/v17/.suo
/.vs/ClickerRepo/v17/.wsuo
/.vs/ClickerRepo/v17/DocumentLayout.backup.json
/.vs/ClickerRepo/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/Clicker.Tests/bin/Debug/net10.0-windows7.0/.msCoverageSourceRootsMapping_Clicker.Tests
/Clicker.Tests/bin/Debug/net10.0-windows7.0/Clicker.dll
/Clicker.Tests/bin/Debug/net10.0-windows7.0/Clicker.exe
/Clicker.Tests/bin/Debug/net10.0-windows7.0/Clicker.pdb
/Clicker.Tests/bin/Debug/net10.0-windows7.0/Clicker.Tests.dll
/Clicker.Tests/bin/Debug/net10.0-windows7.0/Clicker.Tests.exe
/Clicker.Tests/bin/Debug/net10.0-windows7.0/Clicker.Tests.pdb
/Clicker.Tests/bin/Debug/net10.0-windows7.0/CoverletSourceRootsMapping_Clicker.Tests
/Clicker.Tests/obj/Clicker.Tests.csproj.nuget.dgspec.json
/Clicker.Tests/obj/Clicker.Tests.csproj.nuget.g.props
/Clicker.Tests/obj/Debug/net10.0-windows7.0/apphost.exe
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.AssemblyInfoInputs.cache
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.assets.cache
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.csproj.AssemblyReference.cache
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.csproj.CoreCompileInputs.cache
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.csproj.FileListAbsolute.txt
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.dll
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.genruntimeconfig.cache
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.pdb
/Clicker.Tests/obj/Debug/net10.0-windows7.0/Clicker.Tests.sourcelink.json
/Clicker.Tests/obj/Debug/net10.0-windows7.0/ref/Clicker.Tests.dll
/Clicker.Tests/obj/Debug/net10.0-windows7.0/refint/Clicker.Tests.dll
/Clicker.Tests/obj/project.assets.json
/Clicker.Tests/obj/project.nuget.cache
/obj/Clicker.csproj.nuget.dgspec.json
/obj/Clicker.csproj.nuget.g.props
/obj/Clicker.csproj.nuget.g.targets
/obj/Debug/net10.0-windows/Clicker.assets.cache
/obj/project.assets.json
/obj/project.nuget.cache
*.cs
*.diag
